# Number of the port to run the server on
PORT=

# Boolean value to enable logging of the requests in the console
ENABLE_LOGGING=

# Secret used to sign the JWT tokens
JWT_SECRET=

# Time after which the refresh token will expire (number in milliseconds)
JWT_EXPIRES_IN=
# Time after which the refresh token will expire if the user has checked the remember me option (number in milliseconds)
JWT_EXPIRES_IN_REMEMBER_ME=
# Cool down time before generating a new token (number in milliseconds)
JWT_GENERATE_TOKEN_IN=

# Mailjet URL (default: https://api.mailjet.com/v3.1/send)
MAILJET_URL=
# Mailjet public key (found in the Mailjet account settings)
MAILJET_PUBLIC_KEY=
# Mailjet secret key (found in the Mailjet account settings)
MAILJET_SECRET_KEY=
# Email address to send the emails from (must be verified in the Mailjet account settings)
MAILJET_FROM_EMAIL=

# Cloudinary cloud name (found in the Cloudinary account settings)
CLOUDINARY_CLOUD_NAME=
# Cloudinary API key (found in the Cloudinary account settings)
CLOUDINARY_API_KEY=
# Cloudinary API secret (found in the Cloudinary account settings)
CLOUDINARY_API_SECRET=

# Postgresql database URL (example: "postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public&connection_limit=5")
DATABASE_URL=

# MongoDB database URL (example: "mongodb+srv://USER:PASSWORD@HOST/")
MONGO_DB_URL=
# MongoDB database name (default: onlyfoods)
MONGO_DB_NAME=

# Redis database URL (example: "redis://USER:PASSWORD@HOST:PORT")
REDIS_URL=

# Auth key used to access the route to clear the Redis cache
UPDATE_TOKEN_WHITE_LIST_KEY=
